################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.music_controller/frontend/static
.music_controller/frontend/_pycache_
.music_controller/frontend/node_modules
/music_controller/frontend/package-lock.json
/music_controller/frontend/node_modules
/music_controller/frontend/__pycache__
/music_controller/frontend/migrations/__pycache__
/music_controller/music_controller/__pycache__
/music_controller/db.sqlite3
/music_controller/api/__pycache__/*.pyc
/music_controller/api/__pycache__/*.pyc
/music_controller/db.sqlite3
/music_controller/*.sqlite3
